
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*HEADER/NAVBAR*/

header {
    position: relative;
    padding: 0 rem;
}
.logo {
    display: flex;
    width: 270vw;
    height: 6vh;
    padding-left: 15px;
}
.navbar {
    width: 100%;
    height: 60px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #000;
}
.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar-links {
    display: flex;
    gap: 1.1rem;
    padding-right: 60vw;
}
.navbar-links li {
    list-style: none;
}
.navbar-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
.navbar-links a:hover {
    color: cadetblue;
    transition: color 0.3s ease;
}
.action-btn {
    background-color: cadetblue;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    width: 496%;
    border-radius: 20px;
    transition: transform 0.3s; 
    text-decoration: none;
    margin: auto;
    margin-right: 10px; 
}
.action-btn:hover {
    transform: scale(1.05);
    color: #fff;
}
/* Body */
body {
    direction: flex;
    justify-content: center;
    align-items: center;
}
/*Startup Section*/
#startup {
    background-color: blanchedalmond;
    justify-content: center;
    align-items: center;
    direction: flex;
    text-align: center;
    margin: auto;
    padding-top: 23em;
    height: 101vh;
}
#startup h1 {
    justify-content: center;
    font-weight: 700;
    font-size: 100px;
}
#startup a {
    line-height: 1px;
    color: black;
    font-size: 20px;
    text-decoration: overline;
}
/* Home Section */
#home {
    height: 100vh;
    background: url(FrankernBildeLol.png) no-repeat;
    background-size: 25%; 
    background-position: right 20% center; 
    display: flex;
    align-items: center;
    padding: 0 10%;
    background-color: #081b29;
}

.home-content {
    max-width: 600px;
    color: white;
    padding: 40px;
}
.home-content h1 {
    font-size: 45px;
    font-weight: 700;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: red;
}
.home-content p {
    font-size: 16px;
    margin: 20px 0 30px;
}
.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    border: 2px solid red;
    border-radius: 8px;
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.4s;
    background: transparent;
    color: red;
}
.btn-box a:hover {
    background-color: red;
    border: 2px solid red;
    color: white;
    cursor: pointer;
}

/* Skill Section */

#experience {
    background: rgb(23, 23, 23);
    padding: 5rem 0;
}
#experience h2 {
    margin-bottom: 2rem;
    color: #fff;
}
.skills-box h3 {
    color: #0ef;
}
.heading {
    padding-top: 2vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
}
span.experience-heading {
    color: #0ef;
}
.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.skills-container .skills-box {
    flex: 1 1 30%;
    max-width: 45rem;
    background: #323946;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid #000;
    margin: 1rem;
    transition: border-color 0.5s, transform 0.5s, box-shadow 0.5s;
}
.skills-box h3 {
    font-size: 2.6rem;
}
.skills-box p {
    font-size: 1.6rem;
    margin: 1rem 0 2rem;
    color: #000;
}

/* Service Section */

#service {
    background-color: #101010;
    width: 100%;
    padding: 10px 0px;
    padding-top: 50px;
    height: 120vh;
    padding-top: 100px;
}
.title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
span.service-title {
    color: red;
}
.service-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    transition: 0.4s;
    width: 30vh;
    height: 44px;
    margin: 34px auto 0; 
}
.service-btn:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.service-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px; 
    padding: 100px;
    gap: 3rem;
}
.service-card {
    height: 420px;
    width: 100%;
    padding: 20px 35px;
    background-color: #191919;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
h5 {
    color: red;
    font-size: 23px;
    margin-bottom: 15px;
}
.service-text p {
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 10px;
}

/*Footer*/
.footer {
    padding: 20px;
    background-color: black;
}
.footer-content-upper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.footer-content-upper h1{
    text-transform: capitalize;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}
.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: #fff;
    gap: 2rem;
}
.footer-socials li {
    margin: 0 0.5rem; 
    list-style: none;
}
.footer-socials img {
    width: 50px; 
    height: auto; 
    border: 10px solid white;
    background-color: #fff;
    border-radius: 50%;
}
.footer-socials a {
    text-decoration: none;
}
.footer-content-under {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
span.highlight {
    font-weight: bold;
    font-style: italic;
}

/* Mobile Versjon */
@media (max-width: 767px) { 
    /* Gjemmer alle bilder for mobil versjon */
    img {
      display: none; 
    }
  
    #home {
      background-image: none; 
    }   
  }
  
/* For paragraphs */
body {
    font-size: 16px; 
    line-height: 1.5;
    color: #333; 
}
/* For headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #000; 
}
/* For text size */
@media (max-width: 767px) {
    body {
        font-size: 14px; 
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 24px; 
    }
}
@media (max-width: 767px) {
    body {
        overflow-x: hidden; /* Stopper horizontal scrolling */
    }
/* Justerer width */
    .home,
    .startup,
    .experience,
    .service {
        width: 100%; 
    }
}

/* Justerer høyde */
@media (max-width: 767px) {
    body {
        padding: 0;
        height: auto;
    }
    #home {
        height: 120vh; 
    }
    #startup {
        height: 76vh; 
    }
    #experience {
        height: auto; 
    }
    #service {
        height: auto; 
    }
}
/* Navbar posisjon */
@media (max-width: 767px) {
    .navbar {
        padding-left: 50px;
    }   
}
/* Service Sction Mobil */
@media (max-width: 767px) {
    .title h2 {
        font-size: 60px;
        width: 100px;
        padding-right: 200px;
        padding-bottom: 40px;
    }
    .home-content .btn-box {
        flex-direction: column; 
    }
    .service-btn {
        width: auto;
        margin: 10px 0; 
    }
    .service-card-container {
        grid-template-columns: 1fr; 
        padding: 10px; 
    }
    .service-card {
        height: auto; 
        padding: 10px; 
    }
    .service p {
        
    }
}

/* Home Section Mobil */
@media (max-width: 767px) {
    #home {
        display: block;
        padding: 0;
        padding-top: 5rem;
    }
}

/* Startup Section Mobil */
@media (max-width: 767px) {
    #startup {
        top: 50rem;
        padding: 100px;
        text-align: left;
    }
    #startup h1 {
        font-size: 50px;
        padding-top: 130px;
    }
}

